.plan-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 12px;
    width: 283.75px;
    height: 830px;
    background: #ffffff;
    border-radius: 8px;
    flex: 0 0 auto;
  }
  
  .plan-card:hover {
    background-color: #c7ffa5;
    transition: 0.5s;
  }
  
  .plan-card h3 {
    width: 100%;
    text-align: left;
    margin: 0;
    font-weight: 600;
    font-size: 26px;
  }
  
  .plan-card span {
    width: 100%;
    font-size: 16px;
    color: #2b2b2b;
    text-align: left;
  }
  
  .plan-card .price-section {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
  }
  
  .plan-card .price-section .price-heading {
    font-size: 15px;
    color: #838383;
  }
  
  .plan-card .price-section .price {
    font-weight: 600;
    font-size: 23px;
    color: #000000;
    padding: 8px 0px;
  }
  
  .plan-card .price-section .yearly-price {
    font-size: 15px;
    color: #838383;
  }
  
  .plan-card .price-section .user-count {
    font-size: 15px;
    color: #838383;
    padding: 20px 0px;
  }
  .plan-card .price-section div {
    display: flex;
    width: 100%;
    /* border: 1px solid #838383; */
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    background-color: white;
    padding: 2px;
    border-radius: 10px;
    margin: auto;
  }
  
  .plan-card .price-section div p {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
  
  .plan-card .price-section div span {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #84828a;
  }
  
  .plan-card .price-section .discount-title {
    width: 100%;
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    color: #e65925;
    padding: 20px 0;
  }
  
  .plan-card button {
    color: white;
    border: none;
    width: 253.75px;
    height: 60px;
    font-weight: 600;
    font-size: 15px;
    background: #e65925;
    cursor: pointer;
    border-radius: 8px;
    margin: 10px 0 20px 0;
  }
  
  .plan-card .bottom-list {
    width: 100%;
  }
  
  .plan-card .bottom-list h3 {
    font-weight: 600;
    font-size: 20px;
  }
  
  .plan-card .bottom-list  ul {
      list-style-type: none;
      width: 100%;
      /* margin: 0; */
      padding: 0;
  }
  .plan-card .bottom-list  ul li {
      display: flex;
      width: 100%;
      align-items: baseline;

      justify-content: left;
      gap: 10px;
      padding: 5px 0; 
  }

  .plan-card .bottom-list  ul li:last-child{
    color: blue;
    cursor: pointer;
  }

  @media screen and (max-width: 768px){
    .plan-card .price-section div span{
      padding: 0;
      width: 60px;
      height: 40px;
    }
  }